.cartProduct {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    width: 100%;
    height: 120px;
    padding: 10px 0;
    border-bottom: 2px solid #eee;

    .thumbnail {
        width: 267px;
        height: 80px;
        cursor: pointer;
        object-fit: contain;
    }

    .description {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 15px;
        text-align: left;
    }

    .choice {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;
        width: 165px;
        margin-left: auto;
    }
}
